NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_LMS_URL=http://localhost:3001
NEXT_PUBLIC_SMS_URL=http://localhost:3002

DATABASE_URL="postgresql://<username>:<password>@<host>:5432/<db-name>"

BETTER_AUTH_SECRET=

ADMIN_USER_EMAIL=admin@example.com
ADMIN_USER_PASSWORD=password