NEXT_PUBLIC_APP_URL=http://localhost:3002
NEXT_PUBLIC_LMS_URL=http://localhost:3001

DATABASE_URL="postgresql://<username>:<password>@<host>:5432/<db-name>"

OAUTH_PROVIDER_URL=http://localhost:3000
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

BETTER_AUTH_SECRET=